/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body{
    overflow-x: hidden;
}

/* variáveis */
:root {
    --primary-color: #670632;
    --primary-color-low-opacity: #67063273;
    --neutral-white: #ffffff;
    --neutral-black: #000000;
    --feedback-warning: #9b4117;
    --feedback-danger: #FF4848;
    --feedback-success: #27DD09;
    --gradient: linear-gradient(180deg, #670632 31.17%, #CA2E74 100%);
    --border-radius: 15px;
    --box-shadow-01: 5px 4px 28.7px -7px rgba(0, 0, 0, 0.25);
    --box-shadow-02: 4px 4px 64.2px 7px rgba(0, 0, 0, 0.25);
    --box-shadow-03: 0px 4px 26.6px -7px rgba(0, 0, 0, 0.25);
}

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}


.kanban-container {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 90vh;
    padding: 5vh;
    box-sizing: border-box;
}

.kanban-column {
    min-width: 250px;
    margin: 0 10px;
    background-color: var(--neutral-white);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.kanban-header {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.kanban-content {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
    display: flex;

}

.acao-kanban{
    width: 80%;
    height: 10vh;
    background-color: rgb(247, 247, 247);
    box-shadow:  0 4px 4px 1px rgba(0, 0, 0, 0.097);
    border-radius: var(--border-radius);
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    text-align: center;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    font-size: 2.3vh !important;

    &:hover{
        transform: scale(1.03);
        box-shadow: var(--box-shadow-03);
    }
}

.adicionar-acao{
    cursor: pointer;
    width: 80%;
    height: 4vh;
    background-color: rgb(247, 247, 247);
    box-shadow:  0 4px 4px 1px rgba(0, 0, 0, 0.097);
    border-radius: var(--border-radius);
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    font-size: 4vh !important;
    font-weight: bold;
    color: var(--primary-color);
    transition: 0.4s ease-in-out;

    &:hover{
        transform: scale(1.03);
        background-color: var(--primary-color);
        color: var(--neutral-white);
    }
}

.modal-content{
    display: flex;
    flex-direction: row;

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3vh;

        input, select, textarea{
            border-style: none;
            background-color: #e3e3e3;
            height: 7vh;
            border-radius: var(--border-radius);
            margin-bottom: 3vh;
            padding-left: 20px;
        }

        button{
            border-style: none;
            border-radius: var(--border-radius);
            background-color: var(--primary-color);
            height: 7vh;
            color: white;
            cursor: pointer;
            transition: 0.4s ease-in-out;

            &:hover{
                background-color: #00000000;
                border: 2px solid var(--primary-color);
                color: var(--primary-color);
            }
        }
    }
}

.modal-acoes{
    width: 30%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}

.modal-acao{
    transition: 0.4s ease-in-out;
    cursor: pointer;
    width: 45%;
    height: inherit;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: var(--neutral-white);

    &:hover{
        transform: scale(1.05);
        box-shadow: var(--box-shadow-02);
    }
}

.form-column{
    display: flex;
    align-items: column;
    width: 45%;
    flex-direction: column;
}



/* CSS para o ícone de hambúrguer */
.hamburger-menu {
    display: none;
    cursor: pointer;
    margin: 10px;
}

.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 5px 0;
    transition: 0.4s;
}

/* Menu lateral responsivo */
.sidebar {
    transition: 0.3s;
}




/* Responsividade */
@media (max-width: 1200px) {
    .kanban-column {
        min-width: 200px;
    }

    .acao-kanban,
    .adicionar-acao {
        font-size: 2vh !important;
    }

    .adicionar-acao {
        height: 3vh;
        font-size: 3vh !important;
    }
}

@media (max-width: 992px) {
    .kanban-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .kanban-column {
        width: 90%;
        min-width: 250px;
    }

    .modal-content {
        flex-direction: column;
    }

    .form-column {
        width: 100%;
    }
}

@media (max-width: 768px) {

 

    .hamburger-menu {
        display: block !important;
    }

    .sidebar {
       width: 50vw;
        height: 100%;
        position: fixed;
        top: 0;
        left: -60vw;
        transition: left 0.3s ease-in-out;
    }

    .sidebar.active {
        left: 0;
        width: 50vw;

        .icon-opt{
            display: none !important;
        }
    }

    .content {
        margin-left: 0;
        width: 100%;
        transition: margin-left 0.3s;
    }

    .content.shift {
        margin-left: 250px;
    }

    .content{
        margin-left: 0px !important;
        width: 100vw !important;
    }
    .kanban-column {
        min-width: 100%;
        margin: 10px 0;
    }

    .acao-kanban,
    .adicionar-acao {
        width: 90%;
    }

    .modal-content{
        height: 80vh !important;
    }

    .acessibility{
        left: 85% !important;
        border: 2px solid white;
    }
}

@media (max-width: 576px) {
    .kanban-header {
        font-size: 4vw;
    }

    .kanban-content {
        padding: 5px;
    }

    .acao-kanban,
    .adicionar-acao {
        font-size: 3vw !important;
    }
}