/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 2.5vh !important;
}

/* variáveis */
:root {
    --primary-color: #670632;
    --primary-color-low-opacity: #67063273;
    --neutral-white: #ffffff;
    --neutral-black: #000000;
    --feedback-warning: #FFB648;
    --feedback-danger: #FF4848;
    --feedback-success: #27DD09;
    --gradient: linear-gradient(180deg, #670632 31.17%, #CA2E74 100%);
    --border-radius: 15px;
    --box-shadow-01: 5px 4px 28.7px -7px rgba(0, 0, 0, 0.25);
    --box-shadow-02: 4px 4px 64.2px 7px rgba(0, 0, 0, 0.25);
}

/* menu de acessibilidade */
.acessibility {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    z-index: 9999;
    left: 92%;
    border-radius: 50%;
    top: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.acessibility:hover {
    box-shadow: var(--box-shadow-02);
}

/* opções do menu de acessibiilidade */
.acessibility .options {
    height: 20vh;
    width: 10vw;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 110%;
    right: 10%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-02);
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    z-index: 99999;

    p {
        transition: 0.3s ease-in-out;
    }

    p:hover {
        color: #bcbcbc;
    }
}

/* Alto contraste */
.high-contrast {
    background-color: black !important;
    color: white !important;
    font-weight: bold !important;
    transition: 0.5s ease-in-out;
}

.high-contrast .card,
.high-contrast .container-export,
.high-contrast .kanban-column,
.high-contrast .kanban-header,
.high-contrast .acao-kanban,
.high-contrast .adicionar-acao,
.high-contrast #add-acao,
.high-contrast .side-box-login,
.high-contrast .container-doacoes,
.high-contrast .doacao,
.high-contrast .card-right,
.high-contrast .cart-summary,
.high-contrast .finalize-button,
.high-contrast .container-select-categoria select,
.high-contrast .container-select-categoria #quantidade
{
    background-color: black !important;
    border: 2px solid yellow !important;
}


.high-contrast .doacao p,
.high-contrast .cart-total-items,
.high-contrast .container-select-categoria select,
.high-contrast .container-select-categoria #quantidade {
    color: white;
}

.high-contrast .clear-cart,
.high-contrast .remove-item{
    color: yellow;
}

.high-contrast .card-container h1,
.high-contrast .adicionar-acao,
.high-contrast .input-div select,
.high-contrast .input-div input,
.high-contrast #add-acao:hover,
.high-contrast .container-button button,
.high-contrast .button-row button,
.high-contrast .side-box-login h1,
.high-contrast .side-box-login input,
.high-contrast #span {
    color: yellow !important;
}

.high-contrast .card-container button,
.high-contrast .button-row button,
.high-contrast .container-button button {
    background-color: black;
    border: 2px solid yellow;
}

.high-contrast .card-container button:hover,
.high-contrast .button-row button:hover {
    background-color: yellow;
    color: black;
}

.high-contrast .side-box-login input {
    border-radius: var(--border-radius);
    padding-left: 4%;
    font-weight: bolder;
}

.high-contrast .card-container img {
    content: url('../assets/imgs/logo-alto-contraste.png');
}

.high-contrast .banner-login {
    background: black !important;
}
