/* css reset */
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 2.5vh !important;
}

/* variáveis */
:root{
    --primary-color: #670632;
    --primary-color-low-opacity: #67063273;
    --neutral-white: #ffffff;
    --neutral-black: #000000;
    --feedback-warning: #FFB648;
    --feedback-danger: #FF4848;
    --feedback-success: #27DD09;
    --gradient: linear-gradient(180deg, #670632 31.17%, #CA2E74 100%);
    --border-radius: 15px;
    --box-shadow-01: 5px 4px 28.7px -7px rgba(0, 0, 0, 0.25);
    --box-shadow-02: 4px 4px 64.2px 7px rgba(0, 0, 0, 0.25);
}

/* menu de acessibilidade */
.acessibility{
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    z-index: 9999;
    left: 92%;
    border-radius: 50%;
    top: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}

.acessibility:hover{
    box-shadow: var(--box-shadow-02);
}

/* opções do menu de acessibiilidade */
.acessibility .options{
    height: 20vh;
    width: 10vw;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 110%;
    right: 10%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-02);
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    z-index: 99999;

    p{
        transition: 0.3s ease-in-out;
    }

    p:hover{
        color: #bcbcbc;
    }
}

/* alto contraste */
.high-contrast {
    background-color: black !important;
    color: white !important;
    font-weight: bold !important;
    transition: 0.5s ease-in-out;
}

.high-contrast .card {
    background-color: black !important;
    border: 2px solid white !important;
}

.high-contrast .card-container h1{
    color: yellow !important;
}

.high-contrast .card-container button {
    color: yellow;
    border: 2px solid yellow;
    background-color: black;
   
}

.high-contrast .card-container button:hover {
    background-color: yellow;
    color: black;
}

.high-contrast .kanban-column,.high-contrast .kanban-header,.high-contrast .acao-kanban, .high-contrast .adicionar-acao, .high-contrast #add-acao{
    border: 2px solid yellow;
    background-color: #000000;
}

.high-contrast #add-acao:hover{
    color: yellow;
}

.high-contrast .adicionar-acao{
    color: yellow;
}

.high-contrast .banner-login{
    background: black !important;
}

.high-contrast .side-box-login{
    border-left: 2px solid yellow;
    background-color: #000000;

    h1{
        color: yellow;
    }

    input{
        border: 2px solid yellow;
        border-radius: var(--border-radius);
        padding-left: 4%;
        font-weight: bolder;
        color: white;
    }

    #span{
        color: yellow;
    }
}

.high-contrast .container-button button{
    background-color: #000000;
    border: 2px solid yellow;
    font-weight: bold;
}

.high-contrast .card-container img {
    content: url('../assets/imgs/logo-alto-contraste.png');
}

.high-contrast .container-export{
    background-color: black;
    border: 2px solid yellow;

}

.high-contrast .button-row button{
    border: 2px solid yellow;
    font-weight: bold;

    &:hover{
        background-color: yellow;
        color: black;
    }
}

.high-contrast .input-div input{
    background-color: black;
    border: 2px solid yellow;
    color: white;
}

.high-contrast .input-div select{
    background-color: black !important;
    border: 2px solid yellow !important;
    color: white;
}